header{
  position: relative;
}
header .logo {
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
header .logo-icons{
  top: 50px;
}
header ul.nav{
  float: right;
  list-style: none;
}
header ul.nav li{
  font-weight: 600;
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}
header ul.nav li:hover {
  opacity: 0.7;

}
header .shop-cart-button{
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
}
header .shop-cart-button:hover,
header .shop-cart-button:hover.active{
  color: #ca5252;
  transform: scale(1.5);
}
header .shop-cart{
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #fc7a7a;
  -webkit-box-shadow: 5px 4px 6px -2px #8C8C8C;
  box-shadow: 5px 4px 6px -2px #8C8C8C;
  z-index: 1000;
  padding: 20px;
  padding-bottom: 0;
}
header .shop-cart .item{
  width: 100%;
  float: left;
  margin-bottom: 20px;
  
}
header .shop-cart .empty h2{
  font-size: 20px;
  margin-bottom: 20px;
}
header .shop-cart .item .delete-icon {
  color: #db5959;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}
header .shop-cart .item .delete-icon:hover{
  color:#ff0000;
  transform: scale(1.5);
}
header .shop-cart img {
  width: 20%;
  float: left;
  margin-right: 20px;
}
header .shop-cart .item h2{
  font-size: 20px;
  margin-bottom: 10px;
}
header .shop-cart .item p{
  color: #797878;
}
header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
}

header .presentation::after{
  content: 'AEKI is Easy AEKI is Comfort';
  position: absolute;
  top: 100px;
  left: 150px;
  width: 200px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
header .presentation::before{
  content: 'best for you';
  position: absolute;
  top: 250px;
  left: 150px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}