.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dcd9d9d1;
  z-index: 9999;
  overflow: auto;

}
.full-item > div {
  width: 400px;
  position: relative;
  margin: 10% 0 auto;
  padding: 40px 30px;
  background: #e4e4e4;
  border-radius: 9px;
}
main .add-to-cart:hover,
.full-item .add-to-cart:hover{
  transform: scale(1.5) translateY(-5px);

}
main .add-to-cart,
.full-item .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #e4e4e4;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 500ms ease;
}
main b, .full-item b{
  color: rgb(250, 92, 92);
}
main h2, .full-item h2, 
main p, .full-item p,
main b, .full-item b{ 
  margin: 10px 20px;
  color: #333
}
main .item img:hover, .full-item img:hover   {
  transform: scale(1.05);
}
main .item img, .full-item img{
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  cursor: pointer;
}